.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(118, 193, 223);
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.navbar-menu {
  display: flex;
  gap: 110px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
